Repository rardoz/roethedev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js:cli, npm run lint:css:cli

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json}": "npm run lint:js:cli",
  "**/*.{css,scss}": "npm run lint:css:cli"
}

setup portfolio post page
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/components/pages/home/components/portfolio-feed/component.tsx
  src/app/components/pages/post/component.tsx
  src/app/components/pages/post/components/post-container/component.tsx
  src/app/context/cms/hooks/index.ts
  src/app/context/cms/hooks/types.ts
  src/app/index.tsx
Due: npm run lint:js:cli

setup portfolio post page (#21)
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/components/pages/home/components/portfolio-feed/component.tsx
  src/app/components/pages/post/component.tsx
  src/app/components/pages/post/components/post-container/component.tsx
  src/app/context/cms/hooks/index.ts
  src/app/context/cms/hooks/types.ts
  src/app/index.tsx
Due: npm run lint:js:cli

add featured image
  README.md
  package-lock.json
  package.json
  src/app/components/pages/post/component.tsx
  src/app/components/pages/post/components/post-container/component.tsx
  src/app/components/wave-container/assets/wave-bg.svg
  src/app/components/wave-container/component.tsx
  src/app/components/wave-hero-with-image/component.tsx
  src/app/components/wave-hero-with-image/index.ts
  src/app/components/wave-hero-with-image/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

finish styling post page
  src/app/components/layout/component.tsx
  src/app/components/layout/components/footer/component.tsx
  src/app/components/layout/components/header/component.tsx
  src/app/components/pages/about/component.tsx
  src/app/components/pages/blog/component.tsx
  src/app/components/pages/home/component.tsx
  src/app/components/pages/not-found/component.tsx
  src/app/components/pages/not-found/index.ts
  src/app/components/pages/portfolio/component.tsx
  src/app/components/pages/post/component.tsx
  src/app/components/pages/post/components/post-container/component.tsx
  src/app/components/pages/post/components/post-container/styles.scss
  src/app/components/section-title/component.tsx
  src/app/components/wave-hero-with-image/component.tsx
  src/app/components/wave-hero-with-image/styles.scss
  src/app/index.tsx
Due: npm run lint:js:cli, npm run lint:css:cli

add post styles (#22)
  README.md
  package-lock.json
  package.json
  src/app/components/layout/component.tsx
  src/app/components/layout/components/footer/component.tsx
  src/app/components/layout/components/header/component.tsx
  src/app/components/pages/about/component.tsx
  src/app/components/pages/blog/component.tsx
  src/app/components/pages/home/component.tsx
  src/app/components/pages/not-found/component.tsx
  src/app/components/pages/not-found/index.ts
  src/app/components/pages/portfolio/component.tsx
  src/app/components/pages/post/component.tsx
  src/app/components/pages/post/components/post-container/component.tsx
  src/app/components/pages/post/components/post-container/styles.scss
  src/app/components/section-title/component.tsx
  src/app/components/wave-container/assets/wave-bg.svg
  src/app/components/wave-container/component.tsx
  src/app/components/wave-hero-with-image/component.tsx
  src/app/components/wave-hero-with-image/index.ts
  src/app/components/wave-hero-with-image/styles.scss
  src/app/index.tsx
Due: npm run lint:js:cli, npm run lint:css:cli

add meta tags for posts
  src/app/components/pages/post/components/post-container/component.tsx
Due: npm run lint:js:cli

fix bugs
  src/app/components/pages/about/component.tsx
  src/app/components/wave-hero-with-image/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

scroll to top on route change
  src/app/components/layout/component.tsx
Due: npm run lint:js:cli

add video
  src/app/components/media-controller/component.tsx
  src/app/components/media-controller/components/media-controller-button/component.tsx
  src/app/components/media-controller/components/media-controller-button/index.ts
  src/app/components/media-controller/components/media-controller-button/styles.scss
  src/app/components/media-controller/components/media-controller-close-button/component.tsx
  src/app/components/media-controller/components/media-controller-close-button/index.ts
  src/app/components/media-controller/components/media-controller-close-button/styles.scss
  src/app/components/media-controller/components/media-controller-content/component.tsx
  src/app/components/media-controller/components/media-controller-content/index.ts
  src/app/components/media-controller/components/media-controller-content/styles.scss
  src/app/components/media-controller/components/media-controller-footer/component.tsx
  src/app/components/media-controller/components/media-controller-footer/index.ts
  src/app/components/media-controller/components/media-controller-footer/styles.scss
  src/app/components/media-controller/components/media-controller-toggle/component.tsx
  src/app/components/media-controller/components/media-controller-toggle/index.ts
  src/app/components/media-controller/components/media-controller-toggle/styles.scss
  src/app/components/media-controller/context.tsx
  src/app/components/media-controller/index.ts
  src/app/components/pages/post/components/post-container/component.tsx
  src/app/components/wave-hero-with-image/component.tsx
  src/app/components/wave-hero-with-image/styles.scss
  src/app/styles/_tokens.scss
  src/app/styles/_typography.scss
Due: npm run lint:js:cli, npm run lint:css:cli

add video (#23)
  src/app/components/media-controller/component.tsx
  src/app/components/media-controller/components/media-controller-button/component.tsx
  src/app/components/media-controller/components/media-controller-button/index.ts
  src/app/components/media-controller/components/media-controller-button/styles.scss
  src/app/components/media-controller/components/media-controller-close-button/component.tsx
  src/app/components/media-controller/components/media-controller-close-button/index.ts
  src/app/components/media-controller/components/media-controller-close-button/styles.scss
  src/app/components/media-controller/components/media-controller-content/component.tsx
  src/app/components/media-controller/components/media-controller-content/index.ts
  src/app/components/media-controller/components/media-controller-content/styles.scss
  src/app/components/media-controller/components/media-controller-footer/component.tsx
  src/app/components/media-controller/components/media-controller-footer/index.ts
  src/app/components/media-controller/components/media-controller-footer/styles.scss
  src/app/components/media-controller/components/media-controller-toggle/component.tsx
  src/app/components/media-controller/components/media-controller-toggle/index.ts
  src/app/components/media-controller/components/media-controller-toggle/styles.scss
  src/app/components/media-controller/context.tsx
  src/app/components/media-controller/index.ts
  src/app/components/pages/post/components/post-container/component.tsx
  src/app/components/wave-hero-with-image/component.tsx
  src/app/components/wave-hero-with-image/styles.scss
  src/app/styles/_tokens.scss
  src/app/styles/_typography.scss
Due: npm run lint:js:cli, npm run lint:css:cli

style contentful content
  src/app/components/contentful-to-react/component.tsx
  src/app/components/contentful-to-react/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

Portfolio styles (#24)
  src/app/components/contentful-to-react/component.tsx
  src/app/components/contentful-to-react/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

fix bugs
  src/app/components/pages/post/component.tsx
  src/app/components/pages/post/components/post-container/component.tsx
Due: npm run lint:js:cli

fix portfolio bugs (#25)
  src/app/components/pages/post/component.tsx
  src/app/components/pages/post/components/post-container/component.tsx
Due: npm run lint:js:cli

add posts
  src/app/components/card/component.tsx
  src/app/components/pages/home/component.tsx
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/components/pages/post/components/post-container/component.tsx
  src/app/context/cms/hooks/index.ts
  src/app/context/cms/hooks/types.ts
  src/index.html
Due: npm run lint:js:cli

add posts (#26)
  src/app/components/card/component.tsx
  src/app/components/pages/home/component.tsx
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/components/pages/post/components/post-container/component.tsx
  src/app/context/cms/hooks/index.ts
  src/app/context/cms/hooks/types.ts
  src/index.html
Due: npm run lint:js:cli

fix video bug
  src/app/components/media-controller/components/media-controller-content/styles.scss
Due: npm run lint:css:cli

fix headers
  .Dockerfile
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .dockerignore
  .vscode/settings.json
  src/app/components/helmet-head/component.tsx
  src/app/components/helmet-head/index.ts
  src/app/components/helmet-head/types.d.ts
  src/app/components/layout/components/header/assets/featured-image.ai
  src/app/components/layout/components/header/assets/featured-image.svg
  src/app/components/pages/about/component.tsx
  src/app/components/pages/blog/component.tsx
  src/app/components/pages/not-found/component.tsx
  src/app/components/pages/portfolio/component.tsx
  src/app/components/pages/post/components/post-container/component.tsx
  src/app/index.tsx
  src/index.html
Due: npm run lint:js:cli

fix mobile bug
  src/app/components/card/styles.scss
Due: npm run lint:css:cli

add favicons
  src/index.html
Due: none

fix bug with previews in slack
  src/index.html
Due: none

setup sitemap script
  .github/workflows/deploy.yml
  .vscode/settings.json
  package-lock.json
  package.json
  sitemaps/index.js
Due: npm run lint:js:cli

fix sitemaps
  sitemaps/index.js
Due: npm run lint:js:cli

add ga
  .env.example
  package-lock.json
  package.json
  src/app/analytics/index.ts
  src/app/components/layout/component.tsx
  src/app/hooks/use-page-view/index.ts
  src/app/index.tsx
Due: npm run lint:js:cli

upgrade to ga 4
  package-lock.json
  package.json
  src/app/analytics/index.ts
Due: npm run lint:js:cli

fix ga
  .env.example
  .github/workflows/deploy.yml
Due: none

style blog
  src/app/components/contentful-to-react/component.tsx
  src/app/components/contentful-to-react/styles.scss
  src/app/components/lazy-image/component.tsx
Due: npm run lint:js:cli, npm run lint:css:cli

Add blog footer
  package-lock.json
  package.json
  src/app/components/pages/post/components/post-container/component.tsx
  src/app/components/pages/post/components/post-container/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

attempt to fix 403 error
  .github/workflows/deploy.yml
Due: none

fix anchor tag
  src/app/components/contentful-to-react/styles.scss
Due: npm run lint:css:cli

fix twitter cards
  src/index.html
Due: none

fix s3
  .github/workflows/deploy.yml
Due: none

add home page to sitemap
  sitemaps/index.js
Due: npm run lint:js:cli

add ga for ads
  src/app/analytics/index.ts
Due: npm run lint:js:cli

temp setup for ga
  .env.example
  src/index.html
Due: none

add html tokens pipeline
  .github/workflows/deploy.yml
  package.json
  scripts/index-html-tokens/index.js
  src/index.html
Due: npm run lint:js:cli

add env variable for ga
  .github/workflows/deploy.yml
Due: none
