Repository rardoz/roethedev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js:cli, npm run lint:css:cli

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json}": "npm run lint:js:cli",
  "**/*.{css,scss}": "npm run lint:css:cli"
}

fix bugs
  src/app/components/pages/post/components/post-container/component.tsx
Due: npm run lint:js:cli

add code mirror
  package-lock.json
  package.json
  src/app/components/contentful-to-react/component.tsx
  src/app/context/cms/hooks/index.ts
Due: npm run lint:js:cli

update blog style
  src/app/components/contentful-to-react/component.tsx
  src/app/components/contentful-to-react/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

update blog style
  src/app/components/contentful-to-react/styles.scss
Due: npm run lint:css:cli

add code editor
  src/app/components/contentful-to-react/code/index.tsx
  src/app/components/contentful-to-react/code/styles.scss
  src/app/components/contentful-to-react/component.tsx
  src/app/components/contentful-to-react/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

add code editor
  src/app/components/contentful-to-react/component.tsx
Due: npm run lint:js:cli

fix reset bug
  src/app/components/contentful-to-react/component.tsx
Due: npm run lint:js:cli

add custom log function
  src/app/components/contentful-to-react/component.tsx
Due: npm run lint:js:cli

fix bug with embedded comments
  src/app/components/pages/post/components/post-container/component.tsx
Due: npm run lint:js:cli

add custom entry type
  src/app/components/contentful-to-react/code/styles.scss
  src/app/components/contentful-to-react/component.tsx
Due: npm run lint:js:cli, npm run lint:css:cli

update email
  src/app/components/pages/home/components/contact-form/hooks/index.ts
  src/app/components/social-icons/component.tsx
Due: npm run lint:js:cli

setup gitpod
  .gitpod.yml
  package-lock.json
Due: npm run lint:js:cli

setup gitpod (#30)
  .gitpod.yml
  package-lock.json
Due: npm run lint:js:cli

Setup gitpod
  .gitpod.yml
Due: none

upgrade node
  .Dockerfile
  .gitpod.yml
  .nvmrc
  package-lock.json
  package.json
Due: npm run lint:js:cli

verify node version
  .github/workflows/deploy.yml
Due: none

fix node version in github action
  .github/workflows/deploy.yml
Due: none

Update bio and year
  src/app/components/layout/components/footer/component.tsx
  src/app/components/pages/home/component.tsx
  src/app/components/pages/home/components/about-section/components/content-block/component.tsx
Due: npm run lint:js:cli

upgrade disqus and fix comments
  .vscode/launch.json
  package-lock.json
  package.json
  src/app/components/pages/post/components/post-container/component.tsx
Due: npm run lint:js:cli
