Repository rardoz/roethedev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js:cli, npm run lint:css:cli

add env variable for ga
  scripts/index-html-tokens/index.js
Due: npm run lint:js:cli

add env variable for ga
  .github/workflows/deploy.yml
Due: none

remove console logs
  scripts/index-html-tokens/index.js
Due: npm run lint:js:cli

debug action with console logs
  scripts/index-html-tokens/index.js
Due: npm run lint:js:cli

fix issues with html token mapper
  scripts/index-html-tokens/index.js
Due: npm run lint:js:cli

add chat bot
  src/index.html
Due: none

fix preview thumbs in linkedin posts
  src/index.html
Due: none

fix preview thumbs in linkedin posts
  src/app/components/helmet-head/component.tsx
  src/index.html
Due: npm run lint:js:cli

add missing meta information
  src/app/components/helmet-head/component.tsx
  src/index.html
Due: npm run lint:js:cli

add link to code in the footer
  src/app/components/layout/components/footer/component.tsx
  src/app/components/layout/components/footer/styles.scss
  src/app/components/pages/about/component.tsx
Due: npm run lint:js:cli, npm run lint:css:cli

update readme
  README.md
Due: none

fix header in readme
  README.md
Due: none

fix type in footer
  src/app/components/layout/components/footer/component.tsx
Due: npm run lint:js:cli

change messaging
  src/app/components/pages/home/components/contact-form/component.tsx
Due: npm run lint:js:cli

add blurb
  src/app/components/pages/home/component.tsx
  src/app/components/pages/home/components/blurb-section/component.tsx
  src/app/components/pages/home/components/blurb-section/index.ts
  src/app/components/pages/home/components/blurb-section/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

adjust messaging
  src/app/components/pages/home/components/contact-form/component.tsx
Due: npm run lint:js:cli

fix mobile bugs with wave hero
  src/app/components/layout/components/header/components/mobile-menu/components/menu-items/component.tsx
  src/app/components/wave-container/assets/wave-bg-mobile.svg
  src/app/components/wave-container/styles.scss
  src/app/components/wave-hero-with-image/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

fix mobile bugs with wave hero (#27)
  src/app/components/layout/components/header/components/mobile-menu/components/menu-items/component.tsx
  src/app/components/wave-container/assets/wave-bg-mobile.svg
  src/app/components/wave-container/styles.scss
  src/app/components/wave-hero-with-image/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

stash away this terrible design
  src/app/components/card/component.tsx
  src/app/components/pages/home/component.tsx
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/components/pages/home/components/blog-feed/styles.scss
  src/app/components/pages/home/components/portfolio-feed/component.tsx
  src/app/components/pages/home/components/portfolio-feed/styles.scss
  src/app/components/pages/home/components/pre-signup-form/component.tsx
  src/app/components/pages/home/components/pre-signup-form/components/tiers/component.tsx
  src/app/components/pages/home/components/pre-signup-form/components/tiers/index.ts
  src/app/components/pages/home/components/pre-signup-form/constants.ts
  src/app/components/pages/home/components/pre-signup-form/index.ts
  src/app/styles/_flex.scss
Due: npm run lint:js:cli, npm run lint:css:cli

add new social links
  src/app/components/social-icons/component.tsx
Due: npm run lint:js:cli

adjust strings for eslinter
  .eslintrc.js
  src/app/components/card/component.tsx
Due: npm run lint:js:cli

fix sitemaps
  sitemaps/index.js
Due: npm run lint:js:cli

switch to css variables
  package-lock.json
  package.json
  src/app/components/layout/components/header/assets/logo-white.svg
  src/app/components/pages/home/components/contact-form/components/text-input/styles.scss
  src/app/components/pages/home/components/contact-form/styles.scss
  src/app/components/pages/home/components/services-section/component.tsx
  src/app/components/pages/home/components/services-section/index.ts
  src/app/components/wave-container/assets/wave-bg.svg
  src/app/components/wave-container/assets/wave-bottom.svg
  src/app/components/wave-container/component.tsx
  src/app/components/wave-container/components/wave-bg-bottom/component.tsx
  src/app/components/wave-container/components/wave-bg-bottom/index.ts
  src/app/components/wave-container/components/wave-bg-mobile/component.tsx
  src/app/components/wave-container/components/wave-bg-mobile/index.ts
  src/app/components/wave-container/components/wave-bg/component.tsx
  src/app/components/wave-container/components/wave-bg/index.ts
  src/app/components/wave-container/styles.scss
  src/app/components/wave-hero-with-image/styles.scss
  src/app/context/theme/component.tsx
  src/app/context/theme/constants.ts
  src/app/context/theme/index.ts
  src/app/context/theme/types.d.ts
  src/app/hooks/use-theme/constants.ts
  src/app/hooks/use-theme/index.ts
  src/app/hooks/use-theme/types.d.ts
  src/app/index.tsx
  src/app/styles/_tokens.scss
  src/app/styles/app.scss
Due: npm run lint:js:cli, npm run lint:css:cli

add carousel
  package-lock.json
  package.json
  src/app/components/pages/home/component.tsx
  src/app/components/pages/home/components/carousel-section/component.tsx
  src/app/components/pages/home/components/carousel-section/index.ts
Due: npm run lint:js:cli

add affiliatemate tokens
  .env.example
  .github/workflows/deploy.yml
  src/index.html
Due: none

add affiliatemate tokens
  src/index.html
Due: none

remove pixel
  .env.example
  .github/workflows/deploy.yml
  src/index.html
Due: none

stash changes
  package-lock.json
  package.json
  src/app/components/app-link/component.tsx
  src/app/components/layout/components/header/assets/logo-white.svg
  src/app/components/layout/components/header/component.tsx
  src/app/components/layout/components/header/styles.scss
  src/app/components/pages/home/component.tsx
  src/app/components/pages/home/components/carousel-section/component.tsx
  src/app/components/pages/home/components/carousel-section/components/carousel-slide/component.tsx
  src/app/components/pages/home/components/carousel-section/components/carousel-slide/index.ts
  src/app/components/pages/home/components/carousel-section/components/carousel-slide/styles.scss
  src/app/components/pages/home/components/carousel-section/styles.scss
  src/app/components/wave-hero-with-image/styles.scss
  src/app/context/cms/component.tsx
  src/app/context/cms/hooks/types.ts
  src/app/context/cms/index.ts
  src/app/styles/_tokens.scss
Due: npm run lint:js:cli, npm run lint:css:cli

adjust for mobile
  src/app/components/layout/components/header/styles.scss
  src/app/components/pages/home/components/carousel-section/component.tsx
  src/app/components/pages/home/components/carousel-section/components/carousel-slide/component.tsx
  src/app/components/pages/home/components/carousel-section/components/carousel-slide/styles.scss
  src/app/components/pages/home/components/carousel-section/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

finish new layout
  src/app/components/layout/components/header/styles.scss
  src/app/components/pages/about/component.tsx
  src/app/components/pages/blog/component.tsx
  src/app/components/pages/blog/styles.scss
  src/app/components/pages/home/components/carousel-section/components/carousel-slide/styles.scss
  src/app/components/pages/home/components/carousel-section/styles.scss
  src/app/components/pages/not-found/component.tsx
  src/app/components/pages/portfolio/component.tsx
  src/app/components/pages/portfolio/styles.scss
  src/app/components/pages/tutorials/component.tsx
  src/app/components/pages/tutorials/index.ts
  src/app/index.tsx
  src/app/styles/app.scss
Due: npm run lint:js:cli, npm run lint:css:cli

fix bugs
  src/app/components/pages/about/component.tsx
  src/app/components/pages/portfolio/component.tsx
Due: npm run lint:js:cli

fix bugs
  src/app/components/pages/about/component.tsx
Due: npm run lint:js:cli

fix bugs
  src/app/components/layout/components/header/styles.scss
  src/app/components/pages/home/components/carousel-section/component.tsx
  src/app/styles/app.scss
  src/index.html
Due: npm run lint:js:cli, npm run lint:css:cli

Path conditions:
  npm run lint:js:cli: any of: *.{ts,tsx,js,jsx,json}
  npm run lint:css:cli: any of: **/*.{css,scss}
