Repository rardoz/roethedev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js:cli, npm run lint:css:cli

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "npm run lint:js:cli",
  "**/*.{css,scss}": "npm run lint:css:cli"
}

run test with ci
  .husky/pre-commit
Due: none

fix auto deploy
  .github/workflows/deploy.yml
Due: none

setup react-router
  package-lock.json
  package.json
  src/app/components/layout/component.tsx
  src/app/components/layout/index.ts
  src/app/components/pages/about/component.tsx
  src/app/components/pages/about/index.ts
  src/app/components/pages/home/component.tsx
  src/app/components/pages/home/index.ts
  src/app/index.tsx
Due: npm run lint:js:cli

create contact form
  src/app/components/pages/home/component.tsx
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/index.ts
  src/app/styles/_functions.scss
  src/app/styles/_tokens.scss
  src/app/styles/_typography.scss
  src/app/styles/app.scss
  src/index.html
Due: npm run lint:js:cli, npm run lint:css:cli

setup html
  src/app/components/layout/component.tsx
  src/app/components/layout/components/footer/component.tsx
  src/app/components/layout/components/footer/index.ts
  src/app/components/layout/components/header/component.tsx
  src/app/components/layout/components/header/index.ts
  src/app/components/pages/home/component.tsx
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/components/pages/home/components/blog-feed/index.ts
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/styles/_functions.scss
  src/app/styles/app.scss
Due: npm run lint:js:cli, npm run lint:css:cli

fix linter
  .eslintrc.js
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/components/pages/home/components/blog-feed/component.tsx
Due: npm run lint:js:cli

Add homepage html (#4)
  .eslintrc.js
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/components/layout/component.tsx
  src/app/components/layout/components/footer/component.tsx
  src/app/components/layout/components/footer/index.ts
  src/app/components/layout/components/header/component.tsx
  src/app/components/layout/components/header/index.ts
  src/app/components/pages/home/component.tsx
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/components/pages/home/components/blog-feed/index.ts
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/index.ts
  src/app/styles/_functions.scss
  src/app/styles/_tokens.scss
  src/app/styles/_typography.scss
  src/app/styles/app.scss
  src/index.html
Due: npm run lint:js:cli, npm run lint:css:cli

fix linter again
  .eslintignore
  .eslintrc.js
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/index.tsx
Due: npm run lint:js:cli

fix linter
  .eslintignore
  .eslintrc.js
  .lintstagedrc.json
  jest.config.ts
  package-lock.json
  package.json
  src/app/components/layout/component.tsx
  src/app/components/pages/about/component.tsx
  src/app/components/pages/home/component.tsx
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/test.tsx
Due: npm run lint:js:cli

add header
  .eslintrc.js
  package-lock.json
  package.json
  src/app/components/layout/components/header/component.tsx
  src/app/components/layout/components/header/styles.scss
  src/app/components/wave-border/assets/wave-border.svg
  src/app/components/wave-border/component.tsx
  src/app/components/wave-border/index.ts
  src/app/components/wave-border/styles.scss
  src/app/index.tsx
  src/app/styles/_functions.scss
  src/app/styles/_tokens.scss
  src/app/styles/_typography.scss
Due: npm run lint:js:cli, npm run lint:css:cli

add section styles
  package-lock.json
  package.json
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/styles.scss
  src/app/components/section-title/component.tsx
  src/app/components/section-title/index.ts
  src/app/components/section-title/styles.scss
  src/app/components/section/component.tsx
  src/app/components/section/index.ts
  src/app/components/section/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

add shared component styles (#5)
  .eslintrc.js
  package-lock.json
  package.json
  src/app/components/layout/components/header/component.tsx
  src/app/components/layout/components/header/styles.scss
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/styles.scss
  src/app/components/section-title/component.tsx
  src/app/components/section-title/index.ts
  src/app/components/section-title/styles.scss
  src/app/components/section/component.tsx
  src/app/components/section/index.ts
  src/app/components/section/styles.scss
  src/app/components/wave-border/assets/wave-border.svg
  src/app/components/wave-border/component.tsx
  src/app/components/wave-border/index.ts
  src/app/components/wave-border/styles.scss
  src/app/index.tsx
  src/app/styles/_functions.scss
  src/app/styles/_tokens.scss
  src/app/styles/_typography.scss
Due: npm run lint:js:cli, npm run lint:css:cli

change to amp
  src/app/components/pages/home/components/contact-form/component.tsx
Due: npm run lint:js:cli

add form styles
  .eslintrc.js
  .vscode/settings.json
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/components/radio-fieldset/component.tsx
  src/app/components/pages/home/components/contact-form/components/radio-fieldset/index.ts
  src/app/components/pages/home/components/contact-form/components/radio-fieldset/radio-field.d.ts
  src/app/components/pages/home/components/contact-form/components/radio-fieldset/styles.scss
  src/app/components/pages/home/components/contact-form/components/radio-input/component.tsx
  src/app/components/pages/home/components/contact-form/components/radio-input/index.ts
  src/app/components/pages/home/components/contact-form/components/radio-input/styles.scss
  src/app/components/pages/home/components/contact-form/constants.tsx
  src/app/components/pages/home/components/contact-form/styles.scss
  src/app/components/section-title/styles.scss
  src/app/components/section/styles.scss
  src/app/styles/_typography.scss
  src/app/styles/app.scss
Due: npm run lint:js:cli, npm run lint:css:cli

add textarea styles
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/components/textarea/component.tsx
  src/app/components/pages/home/components/contact-form/components/textarea/input.ts
  src/app/components/pages/home/components/contact-form/components/textarea/styles.scss
  src/app/components/pages/home/components/contact-form/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

finish creating contact form ui
  src/app/components/layout/components/header/styles.scss
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/components/text-input/component.tsx
  src/app/components/pages/home/components/contact-form/components/text-input/index.ts
  src/app/components/pages/home/components/contact-form/components/text-input/styles.scss
  src/app/components/pages/home/components/contact-form/components/textarea/component.tsx
  src/app/components/pages/home/components/contact-form/styles.scss
  src/app/styles/_flex.scss
  src/app/styles/_tokens.scss
  src/app/styles/app.scss
Due: npm run lint:js:cli, npm run lint:css:cli

finish creating contact form ui
  src/app/components/layout/components/header/component.tsx
  src/app/components/layout/components/header/styles.scss
  src/app/components/pages/home/components/contact-form/components/text-input/styles.scss
  src/app/components/pages/home/components/contact-form/components/textarea/styles.scss
  src/app/styles/_tokens.scss
Due: npm run lint:js:cli, npm run lint:css:cli

add wave bg
  .DS_Store
  src/.DS_Store
  src/app/.DS_Store
  src/app/components/layout/components/header/styles 2.scss
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/styles.scss
  src/app/components/wave-border/assets/wave-border.svg
  src/app/components/wave-border/component.tsx
  src/app/components/wave-border/styles.scss
  src/app/components/wave-container/assets/wave-bg.svg
  src/app/components/wave-container/component.tsx
  src/app/components/wave-container/index.ts
  src/app/components/wave-container/styles.scss
  src/app/styles/app.scss
Due: npm run lint:js:cli, npm run lint:css:cli

remove duplication
  src/app/components/layout/components/header/styles 2.scss
Due: npm run lint:css:cli

make nav better
  .stylelintrc.json
  package-lock.json
  package.json
  src/app/components/layout/components/header/component.tsx
  src/app/components/layout/components/header/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

add homepage styles (#6)
  .DS_Store
  .eslintrc.js
  .stylelintrc.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/.DS_Store
  src/app/.DS_Store
  src/app/components/layout/components/header/component.tsx
  src/app/components/layout/components/header/styles.scss
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/components/radio-fieldset/component.tsx
  src/app/components/pages/home/components/contact-form/components/radio-fieldset/index.ts
  src/app/components/pages/home/components/contact-form/components/radio-fieldset/radio-field.d.ts
  src/app/components/pages/home/components/contact-form/components/radio-fieldset/styles.scss
  src/app/components/pages/home/components/contact-form/components/radio-input/component.tsx
  src/app/components/pages/home/components/contact-form/components/radio-input/index.ts
  src/app/components/pages/home/components/contact-form/components/radio-input/styles.scss
  src/app/components/pages/home/components/contact-form/components/text-input/component.tsx
  src/app/components/pages/home/components/contact-form/components/text-input/index.ts
  src/app/components/pages/home/components/contact-form/components/text-input/styles.scss
  src/app/components/pages/home/components/contact-form/components/textarea/component.tsx
  src/app/components/pages/home/components/contact-form/components/textarea/input.ts
  src/app/components/pages/home/components/contact-form/components/textarea/styles.scss
  src/app/components/pages/home/components/contact-form/constants.tsx
  src/app/components/pages/home/components/contact-form/styles.scss
  src/app/components/section-title/styles.scss
  src/app/components/section/styles.scss
  src/app/components/wave-container/assets/wave-bg.svg
  src/app/components/wave-container/component.tsx
  src/app/components/wave-container/index.ts
  src/app/components/wave-container/styles.scss
  src/app/styles/_flex.scss
  src/app/styles/_tokens.scss
  src/app/styles/_typography.scss
  src/app/styles/app.scss
Due: npm run lint:js:cli, npm run lint:css:cli

delete mac junk
  .DS_Store
  src/.DS_Store
  src/app/.DS_Store
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/components/pages/home/components/contact-form/styles.scss
  src/app/styles/app.scss
Due: npm run lint:js:cli, npm run lint:css:cli

update gitignore
  .gitignore
Due: none

add flex grid
  src/app/components/lazy-image/component.tsx
  src/app/components/lazy-image/index.ts
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/components/pages/home/components/blog-feed/components/card/component.tsx
  src/app/components/pages/home/components/blog-feed/components/card/index.ts
  src/app/components/pages/home/components/blog-feed/components/card/styles.scss
  src/app/components/section-title/styles.scss
  src/app/components/section/styles.scss
  src/app/components/wave-container/component.tsx
  src/app/styles/_flex.scss
  src/app/styles/app.scss
Due: npm run lint:js:cli, npm run lint:css:cli

finish blog section
  src/app/components/app-link/component.tsx
  src/app/components/app-link/index.ts
  src/app/components/app-link/styles.scss
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/components/pages/home/components/blog-feed/components/card/styles.scss
  src/app/components/pages/home/components/blog-feed/styles.scss
  src/app/components/section-title/styles.scss
  src/app/components/section/styles.scss
  src/app/styles/_typography.scss
  src/app/styles/app.scss
Due: npm run lint:js:cli, npm run lint:css:cli

style footer
  src/app/components/layout/components/footer/component.tsx
  src/app/components/layout/components/footer/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

finish desktop styles for homepage (#7)
  .DS_Store
  .gitignore
  src/.DS_Store
  src/app/.DS_Store
  src/app/components/app-link/component.tsx
  src/app/components/app-link/index.ts
  src/app/components/app-link/styles.scss
  src/app/components/layout/components/footer/component.tsx
  src/app/components/layout/components/footer/styles.scss
  src/app/components/lazy-image/component.tsx
  src/app/components/lazy-image/index.ts
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/components/pages/home/components/blog-feed/components/card/component.tsx
  src/app/components/pages/home/components/blog-feed/components/card/index.ts
  src/app/components/pages/home/components/blog-feed/components/card/styles.scss
  src/app/components/pages/home/components/blog-feed/styles.scss
  src/app/components/pages/home/components/contact-form/styles.scss
  src/app/components/section-title/styles.scss
  src/app/components/section/styles.scss
  src/app/components/wave-container/component.tsx
  src/app/styles/_flex.scss
  src/app/styles/_typography.scss
  src/app/styles/app.scss
Due: npm run lint:js:cli, npm run lint:css:cli

update readme
  README.md
Due: none

add feedback adjustments from @queenjoshua - CEO COD [thank you joshua ballard <3]
  src/app/components/layout/components/header/component.tsx
  src/app/components/layout/components/header/styles.scss
  src/app/components/pages/home/components/contact-form/components/radio-fieldset/styles.scss
  src/app/components/pages/home/components/contact-form/components/radio-input/styles.scss
  src/app/styles/_typography.scss
Due: npm run lint:js:cli, npm run lint:css:cli

add feedback adjustments from @queenjoshua - CEO COD [thank you joshua ballard <3] (#8)
  src/app/components/layout/components/header/component.tsx
  src/app/components/layout/components/header/styles.scss
  src/app/components/pages/home/components/contact-form/components/radio-fieldset/styles.scss
  src/app/components/pages/home/components/contact-form/components/radio-input/styles.scss
  src/app/styles/_typography.scss
Due: npm run lint:js:cli, npm run lint:css:cli

change white color
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/components/text-input/styles.scss
  src/app/components/section-title/styles.scss
  src/app/components/section/styles.scss
  src/app/styles/_tokens.scss
Due: npm run lint:js:cli, npm run lint:css:cli

update per feedback from design (#9)
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/components/text-input/styles.scss
  src/app/components/section-title/styles.scss
  src/app/components/section/styles.scss
  src/app/styles/_tokens.scss
Due: npm run lint:js:cli, npm run lint:css:cli

change textarea color
  src/app/components/pages/home/components/contact-form/components/textarea/component.tsx
  src/app/components/pages/home/components/contact-form/components/textarea/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

changes as per design feedback
  src/app/components/app-link/styles.scss
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/styles/_typography.scss
Due: npm run lint:js:cli, npm run lint:css:cli

changes as per design feedback
  package.json
  src/app.d.ts
  src/app/components/layout/components/header/assets/logo.svg
  src/app/components/layout/components/header/component.tsx
  src/app/components/layout/components/header/styles.scss
  src/app/components/pages/home/components/contact-form/constants.tsx
  src/app/components/section-title/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

update nav
  src/app/components/layout/components/header/assets/logo.svg
  src/app/components/layout/components/header/component.tsx
  src/app/components/layout/components/header/styles.scss
  src/app/styles/app.scss
Due: npm run lint:js:cli, npm run lint:css:cli

fix bug
  src/app/components/layout/components/header/styles.scss
Due: npm run lint:css:cli

add about section
  src/app.d.ts
  src/app/components/app-link/component.tsx
  src/app/components/app-link/styles.scss
  src/app/components/card/component.tsx
  src/app/components/card/index.ts
  src/app/components/card/styles.scss
  src/app/components/pages/home/component.tsx
  src/app/components/pages/home/components/about-section/assets/roe-greene-alt.png
  src/app/components/pages/home/components/about-section/assets/roe-greene.png
  src/app/components/pages/home/components/about-section/component.tsx
  src/app/components/pages/home/components/about-section/components/big-avatar/component.tsx
  src/app/components/pages/home/components/about-section/components/big-avatar/index.ts
  src/app/components/pages/home/components/about-section/components/big-avatar/styles.scss
  src/app/components/pages/home/components/about-section/components/content-block/component.tsx
  src/app/components/pages/home/components/about-section/components/content-block/index.ts
  src/app/components/pages/home/components/about-section/components/content-block/styles.scss
  src/app/components/pages/home/components/about-section/index.ts
  src/app/components/pages/home/components/about-section/styles.scss
  src/app/components/pages/home/components/portfolio-feed/component.tsx
  src/app/components/pages/home/components/portfolio-feed/index.ts
  src/app/components/pages/home/components/portfolio-feed/styles.scss
  src/app/styles/_flex.scss
  src/app/styles/_typography.scss
Due: npm run lint:js:cli, npm run lint:css:cli

adjust wave
  src/app/components/wave-container/assets/wave-bg.svg
Due: none

adjust link
  src/app/components/pages/home/components/about-section/component.tsx
  src/app/components/pages/home/components/about-section/components/content-block/component.tsx
Due: npm run lint:js:cli
