Repository rardoz/roethedev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js:cli, npm run lint:css:cli

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json}": "npm run lint:js:cli",
  "**/*.{css,scss}": "npm run lint:css:cli"
}

style footer
  src/app/components/layout/components/footer/component.tsx
  src/app/components/layout/components/footer/styles.scss
  src/app/components/pages/home/components/about-section/component.tsx
  src/app/components/wave-container/assets/wave-bottom.svg
  src/app/components/wave-container/component.tsx
  src/app/components/wave-container/styles.scss
  src/app/styles/_flex.scss
Due: npm run lint:js:cli, npm run lint:css:cli

style footer
  src/app/components/layout/components/footer/component.tsx
  src/app/components/layout/components/footer/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

design tweak
  src/app/components/pages/home/components/about-section/components/content-block/styles.scss
Due: npm run lint:css:cli

add link bank to nav
  package-lock.json
  package.json
  src/app.d.ts
  src/app/components/layout/components/header/component.tsx
  src/app/components/layout/components/header/styles.scss
  src/app/styles/_flex.scss
Due: npm run lint:js:cli, npm run lint:css:cli

add link bank to nav (#10)
  package-lock.json
  package.json
  src/app.d.ts
  src/app/components/layout/components/header/component.tsx
  src/app/components/layout/components/header/styles.scss
  src/app/styles/_flex.scss
Due: npm run lint:js:cli, npm run lint:css:cli

open linkedin in new tab
  src/app/components/layout/components/header/component.tsx
Due: npm run lint:js:cli

setup breakpoint mixin
  src/app/styles/_mixins.scss
  src/app/styles/_tokens.scss
Due: npm run lint:css:cli

add mobile nav skeleton
  README.md
  src/app/components/layout/components/header/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/components/close-button/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/components/close-button/index.ts
  src/app/components/layout/components/header/components/mobile-menu/components/close-button/styles.scss
  src/app/components/layout/components/header/components/mobile-menu/components/menu-button/assets/mobile-menu-icon.svg
  src/app/components/layout/components/header/components/mobile-menu/components/menu-button/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/components/menu-button/index.ts
  src/app/components/layout/components/header/components/mobile-menu/components/menu-button/styles.scss
  src/app/components/layout/components/header/components/mobile-menu/index.ts
  src/app/components/layout/components/header/components/mobile-menu/styles.scss
  src/app/components/layout/components/header/context.tsx
  src/app/components/layout/components/header/styles.scss
  src/app/hooks/use-lock-scroll/index.ts
  src/app/styles/_tokens.scss
  src/app/styles/app.scss
Due: npm run lint:js:cli, npm run lint:css:cli

add mobile menu
  package-lock.json
  package.json
  src/app/components/app-link/component.tsx
  src/app/components/app-link/styles.scss
  src/app/components/layout/components/header/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/components/close-button/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/components/menu-footer/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/components/menu-footer/index.ts
  src/app/components/layout/components/header/components/mobile-menu/components/menu-footer/styles.scss
  src/app/components/layout/components/header/components/mobile-menu/components/menu-items/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/components/menu-items/index.ts
  src/app/components/layout/components/header/components/mobile-menu/components/menu-items/styles.scss
  src/app/components/layout/components/header/components/mobile-menu/styles.scss
  src/app/components/layout/components/header/context.tsx
  src/app/components/layout/components/header/styles.scss
  src/app/components/social-icons/component.tsx
  src/app/components/social-icons/index.ts
  src/app/components/social-icons/styles.scss
  src/app/styles/app.scss
Due: npm run lint:js:cli, npm run lint:css:cli

add breakpoints and mobile nv (#11)
  README.md
  package-lock.json
  package.json
  src/app/components/app-link/component.tsx
  src/app/components/app-link/styles.scss
  src/app/components/layout/components/header/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/components/close-button/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/components/close-button/index.ts
  src/app/components/layout/components/header/components/mobile-menu/components/close-button/styles.scss
  src/app/components/layout/components/header/components/mobile-menu/components/menu-button/assets/mobile-menu-icon.svg
  src/app/components/layout/components/header/components/mobile-menu/components/menu-button/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/components/menu-button/index.ts
  src/app/components/layout/components/header/components/mobile-menu/components/menu-button/styles.scss
  src/app/components/layout/components/header/components/mobile-menu/components/menu-footer/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/components/menu-footer/index.ts
  src/app/components/layout/components/header/components/mobile-menu/components/menu-footer/styles.scss
  src/app/components/layout/components/header/components/mobile-menu/components/menu-items/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/components/menu-items/index.ts
  src/app/components/layout/components/header/components/mobile-menu/components/menu-items/styles.scss
  src/app/components/layout/components/header/components/mobile-menu/index.ts
  src/app/components/layout/components/header/components/mobile-menu/styles.scss
  src/app/components/layout/components/header/context.tsx
  src/app/components/layout/components/header/styles.scss
  src/app/components/social-icons/component.tsx
  src/app/components/social-icons/index.ts
  src/app/components/social-icons/styles.scss
  src/app/hooks/use-lock-scroll/index.ts
  src/app/styles/_mixins.scss
  src/app/styles/_tokens.scss
  src/app/styles/app.scss
Due: npm run lint:js:cli, npm run lint:css:cli

fix scroll lock on safari
  src/app/styles/app.scss
Due: npm run lint:css:cli

fix mobile bugs with menu
  src/app/components/layout/components/header/components/mobile-menu/components/close-button/styles.scss
  src/app/components/layout/components/header/components/mobile-menu/components/menu-footer/styles.scss
  src/app/components/layout/components/header/components/mobile-menu/styles.scss
  src/app/styles/app.scss
Due: npm run lint:css:cli

fix styles for mobile
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/components/radio-fieldset/styles.scss
  src/app/components/pages/home/components/contact-form/components/text-input/styles.scss
  src/app/components/pages/home/components/contact-form/components/textarea/styles.scss
  src/app/components/pages/home/components/contact-form/styles.scss
  src/app/components/section-title/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

fix styles for mobile (#12)
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/components/radio-fieldset/styles.scss
  src/app/components/pages/home/components/contact-form/components/text-input/styles.scss
  src/app/components/pages/home/components/contact-form/components/textarea/styles.scss
  src/app/components/pages/home/components/contact-form/styles.scss
  src/app/components/section-title/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

fix mobile styles for the cards
  README.md
  src/app/components/card/component.tsx
  src/app/components/card/styles.scss
  src/app/components/lazy-image/component.tsx
  src/app/styles/_flex.scss
  src/app/styles/_tokens.scss
  src/app/styles/_typography.scss
Due: npm run lint:js:cli, npm run lint:css:cli

fix mobile styles for the cards (#13)
  README.md
  src/app/components/card/component.tsx
  src/app/components/card/styles.scss
  src/app/components/lazy-image/component.tsx
  src/app/styles/_flex.scss
  src/app/styles/_tokens.scss
  src/app/styles/_typography.scss
Due: npm run lint:js:cli, npm run lint:css:cli

fix styles for about me section
  src/app/components/pages/home/components/about-section/component.tsx
  src/app/components/pages/home/components/about-section/components/big-avatar/styles.scss
  src/app/components/pages/home/components/about-section/components/content-block/styles.scss
  src/app/components/pages/home/components/about-section/styles.scss
  src/app/styles/_typography.scss
Due: npm run lint:js:cli, npm run lint:css:cli

fix styles for about me section (#14)
  src/app/components/pages/home/components/about-section/component.tsx
  src/app/components/pages/home/components/about-section/components/big-avatar/styles.scss
  src/app/components/pages/home/components/about-section/components/content-block/styles.scss
  src/app/components/pages/home/components/about-section/styles.scss
  src/app/styles/_typography.scss
Due: npm run lint:js:cli, npm run lint:css:cli

fix mobile bugs
  src/app/components/layout/components/footer/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/components/menu-footer/styles.scss
  src/app/components/layout/components/header/components/mobile-menu/styles.scss
  src/app/components/wave-container/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

fix mobile bugs (#15)
  src/app/components/layout/components/footer/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/component.tsx
  src/app/components/layout/components/header/components/mobile-menu/components/menu-footer/styles.scss
  src/app/components/layout/components/header/components/mobile-menu/styles.scss
  src/app/components/wave-container/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

install contentful
  package-lock.json
  package.json
Due: npm run lint:js:cli

update readme
  README.md
Due: none

setup contentful
  package-lock.json
  package.json
  src/app/components/contentful-to-react/component.tsx
  src/app/components/contentful-to-react/index.tsx
  src/app/components/pages/home/component.tsx
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/components/pages/home/components/portfolio-feed/component.tsx
  src/app/context/cms/component.tsx
  src/app/context/cms/hooks/index.ts
  src/app/context/cms/hooks/types.ts
  src/app/context/cms/index.ts
Due: npm run lint:js:cli

add contentful cms (#16)
  README.md
  package-lock.json
  package.json
  src/app/components/contentful-to-react/component.tsx
  src/app/components/contentful-to-react/index.tsx
  src/app/components/pages/home/component.tsx
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/components/pages/home/components/portfolio-feed/component.tsx
  src/app/context/cms/component.tsx
  src/app/context/cms/hooks/index.ts
  src/app/context/cms/hooks/types.ts
  src/app/context/cms/index.ts
Due: npm run lint:js:cli

fix env
  .github/workflows/deploy.yml
Due: none

add notes
  .env.example
  .github/workflows/deploy.yml
  README.md
Due: none

setup contact form api
  .env.example
  .github/workflows/deploy.yml
  package-lock.json
  package.json
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/hooks/index.ts
Due: npm run lint:js:cli

cleanup form
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/components/radio-fieldset/component.tsx
  src/app/components/pages/home/components/contact-form/components/radio-fieldset/radio-field.d.ts
  src/app/components/pages/home/components/contact-form/components/radio-input/component.tsx
  src/app/components/pages/home/components/contact-form/components/textarea/component.tsx
  src/app/components/pages/home/components/contact-form/constants.tsx
  src/app/components/pages/home/components/contact-form/hooks/index.ts
Due: npm run lint:js:cli

add form validations
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/components/text-input/component.tsx
  src/app/components/pages/home/components/contact-form/hooks/index.ts
  src/app/components/pages/home/components/contact-form/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

add contact form api (#17)
  .env.example
  .github/workflows/deploy.yml
  package-lock.json
  package.json
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/components/radio-fieldset/component.tsx
  src/app/components/pages/home/components/contact-form/components/radio-fieldset/radio-field.d.ts
  src/app/components/pages/home/components/contact-form/components/radio-input/component.tsx
  src/app/components/pages/home/components/contact-form/components/text-input/component.tsx
  src/app/components/pages/home/components/contact-form/components/textarea/component.tsx
  src/app/components/pages/home/components/contact-form/constants.tsx
  src/app/components/pages/home/components/contact-form/hooks/index.ts
  src/app/components/pages/home/components/contact-form/styles.scss
Due: npm run lint:js:cli, npm run lint:css:cli

fix bug
  src/app/components/pages/home/components/contact-form/hooks/index.ts
Due: npm run lint:js:cli

add blog pages
  package-lock.json
  package.json
  src/app/components/pages/blog/component.tsx
  src/app/components/pages/blog/index.ts
  src/app/components/pages/blog/styles.scss
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/styles.scss
  src/app/components/pages/home/components/portfolio-feed/component.tsx
  src/app/components/pages/portfolio/component.tsx
  src/app/components/pages/portfolio/index.ts
  src/app/components/pages/portfolio/styles.scss
  src/app/components/wave-hero/component.tsx
  src/app/components/wave-hero/components/wave-hero-title/component.tsx
  src/app/components/wave-hero/components/wave-hero-title/index.ts
  src/app/components/wave-hero/components/wave-hero-title/styles.scss
  src/app/components/wave-hero/index.ts
  src/app/index.tsx
  src/app/styles/_tokens.scss
  src/app/styles/_typography.scss
  src/index.html
Due: npm run lint:js:cli, npm run lint:css:cli

add blog pages (#18)
  package-lock.json
  package.json
  src/app/components/pages/blog/component.tsx
  src/app/components/pages/blog/index.ts
  src/app/components/pages/blog/styles.scss
  src/app/components/pages/home/components/blog-feed/component.tsx
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/components/pages/home/components/contact-form/styles.scss
  src/app/components/pages/home/components/portfolio-feed/component.tsx
  src/app/components/pages/portfolio/component.tsx
  src/app/components/pages/portfolio/index.ts
  src/app/components/pages/portfolio/styles.scss
  src/app/components/wave-hero/component.tsx
  src/app/components/wave-hero/components/wave-hero-title/component.tsx
  src/app/components/wave-hero/components/wave-hero-title/index.ts
  src/app/components/wave-hero/components/wave-hero-title/styles.scss
  src/app/components/wave-hero/index.ts
  src/app/index.tsx
  src/app/styles/_tokens.scss
  src/app/styles/_typography.scss
  src/index.html
Due: npm run lint:js:cli, npm run lint:css:cli

fix text alignment
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/styles/_typography.scss
Due: npm run lint:js:cli, npm run lint:css:cli

fix typography in section title (#19)
  src/app/components/pages/home/components/contact-form/component.tsx
  src/app/styles/_typography.scss
Due: npm run lint:js:cli, npm run lint:css:cli

setup post page
  .env.example
  src/app.d.ts
  src/app/components/pages/portfolio/component.tsx
  src/app/components/pages/post/component.tsx
  src/app/components/pages/post/components/post-container/component.tsx
  src/app/components/pages/post/components/post-container/index.ts
  src/app/components/pages/post/index.ts
  src/app/context/cms/component.tsx
  src/app/context/cms/hooks/index.ts
  src/app/context/cms/hooks/types.ts
  src/app/index.tsx
  src/app/styles/_typography.scss
  src/index.html
Due: npm run lint:js:cli, npm run lint:css:cli

setup post page
  src/app.d.ts
Due: npm run lint:js:cli

set comments
  .env.example
  .github/workflows/deploy.yml
  package-lock.json
  package.json
  src/app/components/pages/post/component.tsx
  src/app/components/pages/post/components/post-container/component.tsx
Due: npm run lint:js:cli

add blog post page (#20)
  .env.example
  .github/workflows/deploy.yml
  package-lock.json
  package.json
  src/app/components/pages/portfolio/component.tsx
  src/app/components/pages/post/component.tsx
  src/app/components/pages/post/components/post-container/component.tsx
  src/app/components/pages/post/components/post-container/index.ts
  src/app/components/pages/post/index.ts
  src/app/context/cms/component.tsx
  src/app/context/cms/hooks/index.ts
  src/app/context/cms/hooks/types.ts
  src/app/index.tsx
  src/app/styles/_typography.scss
  src/index.html
Due: npm run lint:js:cli, npm run lint:css:cli
